@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;

  background-color: #ffbed4;
}

.main_text {
  font-size: 98px;
  color: #fdfdfd;
  font-family: 'Lobster';
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.image {
  width: 500px;
}

.footer {
  position: absolute;
  bottom: 10px;
  color: #fdfdfd;
  font-family: 'Lobster';
  font-size: 36px;
}